@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Greatings.Saudacao()Bem-vindo ao Back Office do DinamicCV</h1>
     <a class="btn btn-primary" asp-action="Index" asp-controller="WorkDatas">Vamos ao que interessa</a>
</div>
